<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Default.php" />
            </files>
        </defaultDocument>
        <security>
            <authorization>
                <add accessType="Allow" users="Administrator" />
            </authorization>
        </security>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
